<div class="row"><!-- row -->
    <div class="col-md-4"><!-- md-4 -->
      <div class="well"><!-- well -->
<%= image_tag('flags/us.png', alt:'Paddel rules in English', height:'20px') %>
<%= render 'pages/partials/rules_en' %>

      </div><!-- well -->
   </div><!-- md-4 -->

    <div class="col-md-4"><!-- md-4 -->
      <div class="well"><!-- well -->
<%= image_tag('flags/ct.png', alt:'Reglament del joc del Pàdel en català', height:'20px') %>
<%= render 'pages/partials/rules_ct' %>

      </div><!-- well -->
   </div><!-- md-4 -->

    <div class="col-md-4"><!-- md-4 -->
      <div class="well"><!-- well -->
<%= image_tag('flags/es.png', alt:'Reglamento del Pádel en castellano', height:'20px') %>
<%= render 'pages/partials/rules_es' %>

      </div><!-- well -->
   </div><!-- md-4 -->
</div><!-- row -->
